In [45]:
print("C321079·김동하")

C321079·김동하

In [46]:
print(23, '산업·데이터공학과',3.14, True, sep='\n',end='\t###')

23
산업·데이터공학과
3.14
True	###

In [47]:
변수명='변수수'
print(f'{변수명=}')

변수명='변수수'

In [48]:



var_y='abcde'
print(f'type(var_y)=')
var_y.find('c')

type(var_y)=

2

-

In [49]:
var_z=54321
var_y=213.41251616
print(f'{var_z:20d}')
print(f'{var_y:^30.5f}')
print(f'var_z는 {type(var_z)})

SyntaxError: unterminated f-string literal (detected at line 5) (1426846404.py, line 5)

In [ ]:
12345+678910

691255

In [ ]:
#설명 개못탱
'abcde'+'fghij"'

'abcdefghij"'

In [ ]:

float(1234.455)

In [ ]:

int('12345')

12345

In [ ]:
for i in 'abcde':
    print(i)

a
b
c
d
e

In [ ]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [ ]:
tuple(range(-99,0))

(-99,
 -98,
 -97,
 -96,
 -95,
 -94,
 -93,
 -92,
 -91,
 -90,
 -89,
 -88,
 -87,
 -86,
 -85,
 -84,
 -83,
 -82,
 -81,
 -80,
 -79,
 -78,
 -77,
 -76,
 -75,
 -74,
 -73,
 -72,
 -71,
 -70,
 -69,
 -68,
 -67,
 -66,
 -65,
 -64,
 -63,
 -62,
 -61,
 -60,
 -59,
 -58,
 -57,
 -56,
 -55,
 -54,
 -53,
 -52,
 -51,
 -50,
 -49,
 -48,
 -47,
 -46,
 -45,
 -44,
 -43,
 -42,
 -41,
 -40,
 -39,
 -38,
 -37,
 -36,
 -35,
 -34,
 -33,
 -32,
 -31,
 -30,
 -29,
 -28,
 -27,
 -26,
 -25,
 -24,
 -23,
 -22,
 -21,
 -20,
 -19,
 -18,
 -17,
 -16,
 -15,
 -14,
 -13,
 -12,
 -11,
 -10,
 -9,
 -8,
 -7,
 -6,
 -5,
 -4,
 -3,
 -2,
 -1)

In [ ]:
2**3*3**2

72

In [ ]:
5+6-12*3**2

-97

In [ ]:
X=[123,'abcd']
print(f'before: {X=}')
X[0]=456
print(f'after: {X=}')

before: X=[123, 'abcd']
after: X=[456, 'abcd']

In [50]:
a = True
b = False
print(a)

True

In [51]:
A = [1,2,3,4]
print(f'{(1 in A)=}')

(1 in A)=True

In [52]:
A = 10
print(f'{(A==10)=}')
A = [1,2,3,4]
print(f'{(1 in A)=}')

(A==10)=True
(1 in A)=True

In [57]:
x=20
y=10.32
z=y ; print(f'{(x is y)=}')
print(f'{(z==10)=}')
print(f'{(x is not y)=}')
print(f'{(z is not y)=}')

(x is y)=False
(z==10)=False
(x is not y)=True
(z is not y)=False