In [1]:
#C321079 김동하 파이썬프로그래밍 iterable 자료형 
#기본

X_list=[0,1,2,3,4,5,6]

print(X_list[0])
print(X_list[1])
print(X_list[2])
print(X_list[3])   
print(X_list[4])
print(X_list[5])
print(X_list[6])

0
1
2
3
4
5
6

In [2]:
X_list=[0,1,2,3,4,5,6]

print(X_list[-7])
print(X_list[-6])
print(X_list[-5])
print(X_list[-4])   
print(X_list[-3])
print(X_list[-2])
print(X_list[-1])

0
1
2
3
4
5
6

In [3]:
X_list=[0,1,2,3,4,5,6]

try:
    print(X_list[8])
except IndexError as e:
    print(e)

list index out of range

In [4]:
x_list = [1, 2, 3, 4, 5]    
x_tuple = (1, 2, 3, 4, 5)    

print(f'x_list = \t⇒ {x_list[0] = }')  
print(f'x_tuple = \t⇒ {x_tuple[-1] = }')

x_list = 	⇒ x_list[0] = 1
x_tuple = 	⇒ x_tuple[-1] = 5

In [5]:
x_dict = {'name': ['김홍익', '이파이'], 'id': [12345, 67890]}  
 
print(f'x_dict = \t⇒ {x_dict["name"][0] = }')

x_dict = 	⇒ x_dict["name"][0] = '김홍익'

In [6]:
x_str = 'Hello World!'
  
print(f'x_str = \t⇒ {x_str[0] = }')   
print(f'x_str = \t⇒ {x_str[6] = }')

x_str = 	⇒ x_str[0] = 'H'
x_str = 	⇒ x_str[6] = 'W'

In [7]:
X_list=[0,1,2,3,4,5,6]

print(X_list[1:4])
print(X_list[1:])
print(X_list[:4])
print(X_list[1:5:2])

[1, 2, 3]
[1, 2, 3, 4, 5, 6]
[0, 1, 2, 3]
[1, 3]

In [8]:
X_list=[0,1,2,3,4,5,6]

try:
    print(X_list[1:10])
except IndexError as e:
    print(e)

[1, 2, 3, 4, 5, 6]

In [9]:
x_list = [1, 2, 3, 4, 5]    
x_tuple = (1, 2, 3, 4, 5)    

print(f'x_list = \t⇒ {x_list[0:3] = }')  
print(f'x_tuple = \t⇒ {x_tuple[-1:-4:-1] = }')

x_list = 	⇒ x_list[0:3] = [1, 2, 3]
x_tuple = 	⇒ x_tuple[-1:-4:-1] = (5, 4, 3)

In [10]:
x_dict = {'name': ['김홍익', '이파이'], 'id': [12345, 67890]}  
 
print(f'x_dict = \t⇒ {x_dict["name"][1:3] = }')

x_dict = 	⇒ x_dict["name"][1:3] = ['이파이']

In [11]:
x_str = 'Hello World!'
  
print(f'x_str = \t⇒ {x_str[0:3] = }')   
print(f'x_str = \t⇒ {x_str[-2:-10:-3] = }')

x_str = 	⇒ x_str[0:3] = 'Hel'
x_str = 	⇒ x_str[-2:-10:-3] = 'doo'

In [12]:
k=(1,2,3,4,5)

t=k

print(f'{k = }\n⇒ {id(k)  = }')
print(f'{t = }\n⇒ {id(t)  = }')

k = (1, 2, 3, 4, 5)
⇒ id(k)  = 2547535537040
t = (1, 2, 3, 4, 5)
⇒ id(t)  = 2547535537040

In [13]:
t=(1,20,5)

print(f'{k = }\n⇒ {id(k)  = }')
print(f'{t = }\n⇒ {id(t)  = }')

k = (1, 2, 3, 4, 5)
⇒ id(k)  = 2547535537040
t = (1, 20, 5)
⇒ id(t)  = 2547534313088

In [14]:
k=[0,1,2]
t=k
print(f'{k = }\n⇒ {id(k)  = }')
print(f'{t = }\n⇒ {id(t)  = }')

k = [0, 1, 2]
⇒ id(k)  = 2547535600320
t = [0, 1, 2]
⇒ id(t)  = 2547535600320

In [15]:
t[0]=100
print(f'{k = }\n⇒ {id(k)  = }')
print(f'{t = }\n⇒ {id(t)  = }')

k = [100, 1, 2]
⇒ id(k)  = 2547535600320
t = [100, 1, 2]
⇒ id(t)  = 2547535600320

In [16]:
x_list = [1, 2, 3, 4, 5]
x_tuple = (1, 2, 3, 4, 5)

print(f'x_list는는 {type(x_list)}이고, x_tuple는는 {type (x_tuple)}이다.')

print(f'Before: {x_list = }')

x_list는는 <class 'list'>이고, x_tuple는는 <class 'tuple'>이다.
Before: x_list = [1, 2, 3, 4, 5]

In [17]:
print(f'Before: {x_list = }')

try:
    x_list[1] = '2'
    del x_list[3]
except TypeError as e:    
    print(f'Error: {e}')
print (f'After {x_list = }')

Before: x_list = [1, 2, 3, 4, 5]
After x_list = [1, '2', 3, 5]

In [18]:
print(f'Before: {x_tuple = }')

try:
    x_tuple[1] = '2'
    del x_tuple[3]
except TypeError as e:    
    print(f'Error: {e}')
print (f'After {x_tuple = }')

Before: x_tuple = (1, 2, 3, 4, 5)
Error: 'tuple' object does not support item assignment
After x_tuple = (1, 2, 3, 4, 5)

In [19]:
x_list = [0, 1, 2, 3, 4]

print(f'{len(x_list) = }')
print(f'{sum(x_list) = }')
print(f'{min(x_list) = }')
print(f'{max(x_list) = }')
print(f'{sorted(x_list) = }')
print(f'{sorted(x_list, reverse=True) = }')
print(f'{all(x_list) = }')
print(f'{any(x_list) = }')

len(x_list) = 5
sum(x_list) = 10
min(x_list) = 0
max(x_list) = 4
sorted(x_list) = [0, 1, 2, 3, 4]
sorted(x_list, reverse=True) = [4, 3, 2, 1, 0]
all(x_list) = False
any(x_list) = True

In [20]:
print(dir(x_list), end='\t'+'='*80+'\t')

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']	================================================================================

In [21]:
print(dir(x_tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [22]:

x_list = [1, 2, 3, 4, 5, 2, 3, 2]
print(f'{x_list = }')
print(f'{x_list.count(2) = }')
print(f'{x_list.index(2) = }')

y_list = x_list.copy()

print(f'{x_list is y_list = }')

print(f'{id(x_list) = }, {id(y_list) = }')

x_list.sort()
print(f'{x_list = }')

x_list.append(6)
print(f'{x_list = }')

x_list.extend([7,8,9])
print (f'{x_list = }')

x_list.append([10,11])
print(f'{x_list = }')


x_list.insert(3, 3.5)
print(f'{x_list = }')

x_list.remove(3.5)
print(f'{x_list = }')

x_list.pop()
print(f'{x_list = }')

x_list.pop(7)
print(f'{x_list = }')

x_list.clear() 
print(f'{x_list = }')

del x_list

try:
    print(f'{x_list = }')
except NameError as e:
    print(f'Error: {e}')

x_list = [1, 2, 3, 4, 5, 2, 3, 2]
x_list.count(2) = 3
x_list.index(2) = 1
x_list is y_list = False
id(x_list) = 2547535763264, id(y_list) = 2547535619904
x_list = [1, 2, 2, 2, 3, 3, 4, 5]
x_list = [1, 2, 2, 2, 3, 3, 4, 5, 6]
x_list = [1, 2, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9]
x_list = [1, 2, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9, [10, 11]]
x_list = [1, 2, 2, 3.5, 2, 3, 3, 4, 5, 6, 7, 8, 9, [10, 11]]
x_list = [1, 2, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9, [10, 11]]
x_list = [1, 2, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9]
x_list = [1, 2, 2, 2, 3, 3, 4, 6, 7, 8, 9]
x_list = []
Error: name 'x_list' is not defined

In [23]:

string = 'Hello \tPython! \nMy \tname \tis \tPython. \nI \tam \ta \tPython \tDeveloper.'
print(string)

Hello 	Python!
My 	name 	is 	Python.
I 	am 	a 	Python 	Developer.

In [24]:


string = "Hello Python! My name is Python. I am a Python Developer."
print(f'''
인덱싱(포인트)
{string[0]=}
{string[3]=}
{string[-1]=}
{string[-3]=}
슬라이싱(구간)
{string[0:5]=}
{string[6:12]=}
{string[:5]=}
{string[6:]=}
{string[6:-1]=}
{string[6:-3]=}
스텝(간격)
인덱스 6부터 2칸씩 12까지
{string[6:12:2]=}
처음부터 끝까지 2칸씩
{string[::2]=}
처음부터 끝까지 거꾸로 1칸씩
{string[:: -1]=}
{string[:: -1]=}
''')

인덱싱(포인트)
string[0]='H'
string[3]='l'
string[-1]='.'
string[-3]='e'
슬라이싱(구간)
string[0:5]='Hello'
string[6:12]='Python'
string[:5]='Hello'
string[6:]='Python! My name is Python. I am a Python Developer.'
string[6:-1]='Python! My name is Python. I am a Python Developer'
string[6:-3]='Python! My name is Python. I am a Python Develop'
스텝(간격)
인덱스 6부터 2칸씩 12까지
string[6:12:2]='Pto'
처음부터 끝까지 2칸씩
string[::2]='HloPto!M aei yhn  maPto eeoe.'
처음부터 끝까지 거꾸로 1칸씩
string[:: -1]='.repoleveD nohtyP a ma I .nohtyP si eman yM !nohtyP olleH'
string[:: -1]='.repoleveD nohtyP a ma I .nohtyP si eman yM !nohtyP olleH'

In [25]:
string = "2024_바이오헬스 교과목 목록.xlsx"

print(len(string))

print('2024' in string)

print('2023' not in string)

22
True
True

In [26]:
my_dict={'key':'value'}

In [13]:
my_dict1={'name':'Max', 'age': 20, 'height': 175.5}

my_dict2=dict(name='Max', age= 20, height=175.5)

my_dict3=dict([('name', 'Max'), ('age', 20), ('height', 175.5)])

print(f'{my_dict1 = }')
print(f'{my_dict2 = }')  
print(f'{my_dict3 = }')

my_dict1 = {'name': 'Max', 'age': 20, 'height': 175.5}
my_dict2 = {'name': 'Max', 'age': 20, 'height': 175.5}
my_dict3 = {'name': 'Max', 'age': 20, 'height': 175.5}

In [14]:
person_keys=['name', 'age', 'height']
Person_values=['Max', 20, 175.5]

my_dict4=dict(zip(person_keys, Person_values))
print(f'{my_dict4 = }')

my_dict4 = {'name': 'Max', 'age': 20, 'height': 175.5}

In [15]:
my_dict_dict={'A':{'name':'Max', 'age': 20, 'height': 175.5}, 'B':{'name':'John', 'age': 25, 'height': 180.0}}
print(f'{my_dict_dict = }')

my_dict_dict = {'A': {'name': 'Max', 'age': 20, 'height': 175.5}, 'B': {'name': 'John', 'age': 25, 'height': 180.0}}

In [16]:
from pprint import pprint
pprint(my_dict_dict)

{'A': {'age': 20, 'height': 175.5, 'name': 'Max'},
 'B': {'age': 25, 'height': 180.0, 'name': 'John'}}

In [ ]:
print(f'{type(my_dict1) = }')

print(f'{len(my_dict1) = }')

print('name' in my_dict1)

print('Max' in my_dict1)

type(my_dict1) = <class 'dict'>
len(my_dict1) = 3
True
False

In [18]:
print(f'{my_dict1["name"] = }')

try:
    print(f'{my_dict1["name2"] = }')
except KeyError as e:
    print(f'Error: {e}')

my_dict1["name"] = 'Max'
Error: 'name2'

In [19]:
print(f'{my_dict_dict["A"]["name"] = }')

my_dict_dict["A"]["name"] = 'Max'

In [21]:
print(f'{my_dict1.get("name") = }')
print(f'{my_dict1.get("name2") = }')
print(f'{my_dict1.get("name2", "replcement") = }')

my_dict1.get("name") = 'Max'
my_dict1.get("name2") = None
my_dict1.get("name2", "replcement") = 'replcement'

In [23]:
print(f'{my_dict1 = }')
my_dict1['id']='123'
print(f'{my_dict1 = }')

my_dict1 = {'name': 'Max', 'age': 20, 'height': 175.5}
my_dict1 = {'name': 'Max', 'age': 20, 'height': 175.5, 'id': '123'}

In [24]:
del my_dict1['id']
print(f'{my_dict1 = }')

my_dict1 = {'name': 'Max', 'age': 20, 'height': 175.5}

In [29]:
my_dict1['age'] = 30
print(f'{my_dict1 = }')

my_dict1 = {'name': 'Max', 'age': 30, 'height': 175.5}

In [30]:
my_dict1.update(age=40, id=123, occupation='data scientist')
print(f'{my_dict1 = }')

my_dict1 = {'name': 'Max', 'age': 40, 'height': 175.5, 'id': 123, 'occupation': 'data scientist'}

In [31]:
my_dict_more={'age':50, 'affiliation':'Hongik university'}
my_dict1.update(my_dict_more)
print(f'{my_dict1 = }')

my_dict1 = {'name': 'Max', 'age': 50, 'height': 175.5, 'id': 123, 'occupation': 'data scientist', 'affiliation': 'Hongik university'}

In [32]:
my_dict1.pop('affiliation')
print(f'{my_dict1 = }')

my_dict1 = {'name': 'Max', 'age': 50, 'height': 175.5, 'id': 123, 'occupation': 'data scientist'}

In [33]:
occupation=my_dict1.pop('occupation')
print(f'{my_dict1=}\n{occupation = }')

my_dict1={'name': 'Max', 'age': 50, 'height': 175.5, 'id': 123}
occupation = 'data scientist'

In [34]:
try:
    print(my_dict1.pop('occupation'))
except KeyError as e:
    print(f'Error: {e}')

occupation=my_dict1.pop('occupation', 'unknown')
print(f'{occupation = }')

Error: 'occupation'
occupation = 'unknown'

In [35]:
print(f'{my_dict1 = }')

last=my_dict1.popitem()
print(f'{my_dict1 = }\n{last = }')

last=my_dict1.popitem()
print(f'{my_dict1 = }\n{last = }')

my_dict1 = {'name': 'Max', 'age': 50, 'height': 175.5, 'id': 123}
my_dict1 = {'name': 'Max', 'age': 50, 'height': 175.5}
last = ('id', 123)
my_dict1 = {'name': 'Max', 'age': 50}
last = ('height', 175.5)

In [36]:
my_dict1.clear()
print(f'{my_dict1 = }')

my_dict1 = {}

In [27]:
#C321079 김동하 파이썬프로그래밍 제어문
#기본

if True :
    print('조건이 참입니다')

print('조건문이 종료되었습니다')

조건이 참입니다
조건문이 종료되었습니다

In [28]:
money=1000

if money <= 500:
    print('거지')
else:
    print('부자')

부자

In [29]:
money = 1000

if money <= 500:
    print('걸어간다.')
elif money <= 2500:
    print('버스탄다.')
else:
    print('택시탄다.')

버스탄다.

In [30]:
n=0
while n<5:
    print('n=',n)
    n+=1

n= 0
n= 1
n= 2
n= 3
n= 4

In [31]:
for n in range(0,5):
    print('n=',n)

n= 0
n= 1
n= 2
n= 3
n= 4

In [32]:
x_list = [1, 2, 3, 4, 5]

for i in x_list:
    print(f'{i = }')

i = 1
i = 2
i = 3
i = 4
i = 5

In [33]:
x=[10,20,30,40,50]

for method in [len, sum, min, max]:
    print(f'{method}(x) = {method(x)}')

<built-in function len>(x) = 5
<built-in function sum>(x) = 150
<built-in function min>(x) = 10
<built-in function max>(x) = 50

In [34]:
for item in enumerate(['a', 'b', 'c']):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')

In [35]:
x_list = [1, 2, 3, 4, 5,6,7,8,9,10,11]
y_tuple = (1, 2, 3, 4, 5,6,7,8,9,10,11)
z_str = 'Hello World!'

zip(x_list, y_tuple, z_str)

In [36]:
list(zip(x_list, y_tuple, z_str))

[(1, 1, 'H'),
 (2, 2, 'e'),
 (3, 3, 'l'),
 (4, 4, 'l'),
 (5, 5, 'o'),
 (6, 6, ' '),
 (7, 7, 'W'),
 (8, 8, 'o'),
 (9, 9, 'r'),
 (10, 10, 'l'),
 (11, 11, 'd')]

In [37]:
for x, y, z in zip(x_list, y_tuple, z_str):
    print(f'{x = }, {y = }, {z = }')

x = 1, y = 1, z = 'H'
x = 2, y = 2, z = 'e'
x = 3, y = 3, z = 'l'
x = 4, y = 4, z = 'l'
x = 5, y = 5, z = 'o'
x = 6, y = 6, z = ' '
x = 7, y = 7, z = 'W'
x = 8, y = 8, z = 'o'
x = 9, y = 9, z = 'r'
x = 10, y = 10, z = 'l'
x = 11, y = 11, z = 'd'

In [38]:
for i, item in enumerate(['a', 'b', 'c']):
    if i == 1:
        break

    print(f'{i = }, {item = }')

i = 0, item = 'a'

In [39]:
for i, item in enumerate(['a', 'b', 'c']):
    if i == 1:
        continue

    print(f'{i = }, {item = }')

i = 0, item = 'a'
i = 2, item = 'c'

In [40]:
for i, item in enumerate(['a', 'b', 'c']):
    if i == 3:
        pass

    print(f'{i = }, {item = }')

i = 0, item = 'a'
i = 1, item = 'b'
i = 2, item = 'c'

In [1]:
for i, item in enumerate(['a', 'b', 'c']):
    if i == 2:
        #exit()
        print('종료')

종료

In [4]:
for i in range(1,10):
    for j in range(1,10):
        print(f'{i}X{j} = {i*j:>2d}', end='\t')

        if j == 9:
            print()

1X1 =  1	1X2 =  2	1X3 =  3	1X4 =  4	1X5 =  5	1X6 =  6	1X7 =  7	1X8 =  8	1X9 =  9
2X1 =  2	2X2 =  4	2X3 =  6	2X4 =  8	2X5 = 10	2X6 = 12	2X7 = 14	2X8 = 16	2X9 = 18
3X1 =  3	3X2 =  6	3X3 =  9	3X4 = 12	3X5 = 15	3X6 = 18	3X7 = 21	3X8 = 24	3X9 = 27
4X1 =  4	4X2 =  8	4X3 = 12	4X4 = 16	4X5 = 20	4X6 = 24	4X7 = 28	4X8 = 32	4X9 = 36
5X1 =  5	5X2 = 10	5X3 = 15	5X4 = 20	5X5 = 25	5X6 = 30	5X7 = 35	5X8 = 40	5X9 = 45
6X1 =  6	6X2 = 12	6X3 = 18	6X4 = 24	6X5 = 30	6X6 = 36	6X7 = 42	6X8 = 48	6X9 = 54
7X1 =  7	7X2 = 14	7X3 = 21	7X4 = 28	7X5 = 35	7X6 = 42	7X7 = 49	7X8 = 56	7X9 = 63
8X1 =  8	8X2 = 16	8X3 = 24	8X4 = 32	8X5 = 40	8X6 = 48	8X7 = 56	8X8 = 64	8X9 = 72
9X1 =  9	9X2 = 18	9X3 = 27	9X4 = 36	9X5 = 45	9X6 = 54	9X7 = 63	9X8 = 72	9X9 = 81

In [7]:
for i in range(20, 0, -2):
    
    for j in range(20, 0, -2):
        
        print(f'{i}x{j}={j*i:>5d}', end='\t')
        if j == 2:
            
            print()

20x20=  400	20x18=  360	20x16=  320	20x14=  280	20x12=  240	20x10=  200	20x8=  160	20x6=  120	20x4=   80	20x2=   40
18x20=  360	18x18=  324	18x16=  288	18x14=  252	18x12=  216	18x10=  180	18x8=  144	18x6=  108	18x4=   72	18x2=   36
16x20=  320	16x18=  288	16x16=  256	16x14=  224	16x12=  192	16x10=  160	16x8=  128	16x6=   96	16x4=   64	16x2=   32
14x20=  280	14x18=  252	14x16=  224	14x14=  196	14x12=  168	14x10=  140	14x8=  112	14x6=   84	14x4=   56	14x2=   28
12x20=  240	12x18=  216	12x16=  192	12x14=  168	12x12=  144	12x10=  120	12x8=   96	12x6=   72	12x4=   48	12x2=   24
10x20=  200	10x18=  180	10x16=  160	10x14=  140	10x12=  120	10x10=  100	10x8=   80	10x6=   60	10x4=   40	10x2=   20
8x20=  160	8x18=  144	8x16=  128	8x14=  112	8x12=   96	8x10=   80	8x8=   64	8x6=   48	8x4=   32	8x2=   16
6x20=  120	6x18=  108	6x16=   96	6x14=   84	6x12=   72	6x10=   60	6x8=   48	6x6=   36	6x4=   24	6x2=   12
4x20=   80	4x18=   72	4x16=   64	4x14=   56	4x12=   48	4x10=   40	4x8=   32	4x6=   24	4x4=   16	4x2=    8
2x20=   40	2x18=   36	2x16=   32	2x14=   28	2x12=   24	2x10=   20	2x8=   16	2x6=   12	2x4=    8	2x2=    4

In [ ]:
#응용 : 출석부 프로그램
#iterable 자료형과 제어문을 사용하여 출석부 프로그램을 짜보았다.

# 학생 명단 (iterable 자료형)
student_list = ["김동하", "김태형", "김서영", "김은지", ]

# 출석한 학생 이름을 입력 받기 
input_names = input("출석한 학생 이름을 입력하세요 (쉼표로 구분): ")

# 입력받은 문자열을 리스트로 변환 (공백 제거도 함께 처리)
attendance = [name.strip() for name in input_names.split(",")]

# 출석 결과 출력 (제어문 사용)
for student in student_list:
    if student in attendance:
        print(f"{student}: O")
    else:
        print(f"{student}: X")

김동하: X
김태형: X
김서영: O
신분현: X